body {
    background-color: white;
}

.imgcenter {
    margin-top: 5vh;
    text-align: center;
}
.specific-page-bg:before {
     content: '';
     background-color: rgba(0,0,0,0.5);
     position: absolute;
     top: 0;
     right: 0;
     bottom: 0;
     left: 0;
 }

.padd-around {
    display: flex;
    padding: 20px;
    width: calc(100% - 40px);
}

.carte-svg {

}